body {
    display: block;
    position: relative;
}

#left_ul {
    padding-left: 10px;
    float: left;
}

#right_ul {
    float: right;
}

.left-side {
    height: 20vh;
    width: 25vw;
    margin: 10px;
    list-style-type: none;
    position: relative;
    cursor: move;
    overflow: hidden;
    border: 3px #f22;
    border-radius: 5px;
    background-color: #22ffff;
    text-align: center;

}

.right-side {

    height: 20vh;
    width: 25vw;
    margin: 10px;
    list-style-type: none;
    position: relative;
    cursor: move;
    overflow: hidden;
    border: 3px #f22;
    border-radius: 5px;
    background-color: #22ffff;
    text-align: center;
}